<!--  -->
<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Coball solutions</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="/static/css/style.css">
  <script>
  var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "10";
  } else {
    document.getElementById("navbar").style.top = "-10px";
  }
  prevScrollpos = currentScrollPos;
}

  </script>
  
</head>

<body>
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/Services">Services</a>
        <a href="/Contact">Contact</a>
    </div>

  <div id="particles-js">
    <div class="count-particles">
    <div class="container-fluid">
        <form action="/Contact" method="post">
                <div class="row spacerAbove"></div>
                <div class="row">
                    <div class="col-sm-6 colCentered landingpageContent">
                      <label for="firstName">First name:</label><br>
                      <input type="text" id="firstName" name="firstName"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 colCentered landingpageContent">
                        <label for="lastName">Last name:</label><br>
                        <input type="text" id="lastName" name="lastName"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 colCentered landingpageContent">
                        <label for="email">Email:</label><br>
                        <input type="text" id="email" name="email"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 colCentered landingpageContent">
                        <label for="organization">Organization:</label><br>
                        <input type="text" id="organization" name="organization"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 colCentered landingpageContent">
                        <label for="phoneNumber">Phone Number:</label><br>
                        <input type="text" id="phoneNumber" name="phoneNumber"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 colCentered landingpageContent">
                        <label for="message">Message:</label><br>
                        <input type="text" id="message" name="message"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 colCentered landingpageContent">
                        <input type="submit" value="Submit">
                    </div>
                </div>
          </form> 
      </div>
    </div>
  </div>
      
  <script src="/static/javascript/particles.js"></script>
  <script src="/static/javascript/app.js"></script>

  <footer class="footer" style='padding: 25px;'>
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>Footer</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 colCentered">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum perferendis voluptates error ullam
              placeat repellendus. Repellendus error repellat veritatis recusandae voluptates earum rerum consectetur
              itaque, ipsam nihil. Alias, nemo.</p>
          </div>
        </div>
    </div>
  </footer>


<link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</body>

</html>